//IMPORTS
@import "compass/reset";
@import "bootstrap-sass/stylesheets/bootstrap";
//@import "compass/utilities";
@import "compass/css3";
@import "compass/layout.scss";
@import "compass/typography";

//@import url(http://fonts.googleapis.com/css?family=Lato);
//@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:500,400,300,100);
//@import url(http://fonts.googleapis.com/css?family=Roboto:500,400,300,100);

//FONTS
$base-font:"Open Sans", Arial, serif;
$base-font-size: 14px;

$ng-invalid-color: #FA787E;
$ng-invalid-color: RED;
$t-border: 1px solid #E8E8E8;
$ng-valid-color: #78FA89;


//PAGE STYLING
body *{
	@include box-sizing(border-box !important);
}
body{
	font-family: $base-font;	
	font-size: $base-font-size;	
	//font-weight: 400 !important;
}

section{
	//margin-top: 100px;
}

//ANGULAR VALIDATION	
input[type="text"], input[type="email"], input[type="password"], textarea, select{
	.ng-invalid.ng-dirty {
		border-color: $ng-invalid-color;
		@include box-shadow(0 0 5px lighten($ng-invalid-color, 5%));
	}
	.ng-valid.ng-dirty {
		border-color: $ng-valid-color;
		@include box-shadow(0 0 5px lighten($ng-valid-color, 5%));
	}
}

form div.error{
	//font-size: .95em;	
	color: $ng-invalid-color;

	color: #B92219;
	//border-color: #E4A197;
	border: 1px #E4A197 solid;
	background-color: #FFD1D1;
	padding: 0.7em;
	//margin-left: 0.1em;
	//margin-top: -0.1em;
	margin: 0em 0.25em 0 0.25em;
	//font-weight: 500;	

	//margin-left: 31%;
	//width: 95%;
	overflow: hidden;
	clear: left;

}
span.feedback{
	//border: 1px darken($ng-valid-color, 10%) solid;
	padding: 0.75em 1em;
	//width: 20em;
	//width: 100% !important;
	//margin: 2em 0px 1em 30%;
	//background-color: lighten($base-color, 50%);
	//@includeborder-radius: 1px;
	//border:1px $base-color solid;
	//color: darken($base-color, 5%);
	//font-weight: 400;
	//display: block;
	//text-align: center;
	line-height: 1.3em;

	&.failed{
		//background-color: $ng-invalid-color;
	}
}